body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
    
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

section {
    padding: 10px;
    text-align: center;
}

#skills {
    text-align: center;
}

#skills ul {
    display: inline-block; 
    text-align: center; 
    padding: 0;
}

#skills ul li {
    list-style: none; 
    padding: 5px 0; 
    font-weight: bold;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
}

th {
    padding: 12px;
    border: 1px solid #000;
    background: #ddd;
    text-transform: uppercase;
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid #000;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #ddd;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:hover{
    background-color: #ddd;
}

button {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #555;
}